<!-- side bar menu -->
<ion-menu content-id="main-content" type="overlay" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header> Navigate </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item button>
          <ion-icon slot="start" name="Home"> </ion-icon>
          <ion-label> Home </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name="Home"> </ion-icon>
          <ion-label> Home </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- error ion-page not an element just use div tag to solve -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
